@charset "UTF-8";
/*body{
	margin: 0;
	padding: 0;
}*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
  }
  
  /*body {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
	display: flex;
	justify-content: center;
	align-items: center;
  }*/

div#main{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: rgb(218, 210, 210);
}

#botao{
	background-color: rgb(72, 72, 122);
	border: 2px solid rgb(72, 72, 122);
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
	padding: 10px;
}

#botao:hover{
	background-color: rgb(79, 79, 148);
	border: 2px solid rgb(79, 79, 148);
}

input{
	border: 2px solid #f0f0f0;
	display: block;
	border-radius: 10px;
	font-size: 14px;
	width: 100%;
	padding: 10px;
}

.input{
	text-align: center;
}

div#main2{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: rgb(218, 210, 210);
}

tr, td, th{
	/*border: 1px solid black;*/
}

a{	
	text-align: center;
	color: #fff;
	background-color: rgb(79, 79, 148);
	border: 2px solid rgb(72, 72, 122);
	border-radius: 5px;
	text-decoration: none;
	margin: 2%;
}

a:hover{
	background-color: rgb(79, 79, 148);
	border: 2px solid rgb(79, 79, 148);
}

.link{
	padding: 10px;
}

div#main3{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: rgb(218, 210, 210);
}

#botoes{
	display: flex;
	flex-direction: column;
	margin: 5%;
	padding: 5%;
}

#formula{
	margin-top: 3%;
}